{% extends 'admin/index.html.twig' %}

{% block title %}Admin Booking Types{% endblock %}

{% block display %}
<h1 class="h3">Booking Types</h1>

{{ form(createForm) }}

<p>
    Booking type overview
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for bookingType in bookingTypes %}
        <tr>
            <td>{{ bookingType.id }}</td>
            <td>{{ bookingType.type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}