{% extends 'admin/index.html.twig' %}

{% block title %}Admin Room Types{% endblock %}

{% block display %}
<h1 class="h3">Room Types</h1>

{{ form(createForm) }}

<p>
    Room type overview
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        {% for roomType in roomTypes %}
        <tr>
            <td>{{ roomType.id }}</td>
            <td>{{ roomType.type }}</td>
            <td>{{ roomType.capacity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}